@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: 24, 28, 20;
  --light: 245, 245, 245;
}

* {
  margin: 0px;
  padding: 0px;
  box-shadow: none;
}

.secondary-text {
  color: #00b799;
}

.primary-text {
  color: #3c88f0;
}

.bg-gradient {
  background-image: linear-gradient(180deg, #00b799, #3c88f0);
}

.text-dark {
  color: rgb(var(--dark));
}

.text-light {
  color: rgb(var(--light));
}

.bg-dark {
  background-color: rgb(var(--dark));
}

.bg-light {
  background-color: rgb(var(--light));
}

.border-dark {
  border-color: rgb(var(--dark));
}

.border-light {
  border-color: rgb(var(--light));
}

.hover-bg-dark:hover {
  background-color: rgb(var(--dark));
}
.hover-bg-light:hover {
  background-color: rgb(var(--light));
}

.bg-dark-90 {
  background-color: rgb(var(--dark), 0.9);
}

.bg-dark-80 {
  background-color: rgb(var(--dark), 0.8);
}

.bg-dark-70 {
  background-color: rgb(var(--dark), 0.7);
}

.bg-dark-50 {
  background-color: rgb(var(--dark), 0.5);
}

.bg-dark-40 {
  background-color: rgb(var(--dark), 0.4);
}

.bg-dark-30 {
  background-color: rgb(var(--dark), 0.3);
}

.bg-dark-20 {
  background-color: rgb(var(--dark), 0.2);
}

.bg-light-90 {
  background-color: rgb(var(--light), 0.9);
}

.bg-light-80 {
  background-color: rgb(var(--light), 0.8);
}

.bg-light-70 {
  background-color: rgb(var(--light), 0.7);
}

.bg-light-50 {
  background-color: rgb(var(--light), 0.5);
}

.bg-light-40 {
  background-color: rgb(var(--light), 0.4);
}

.bg-light-30 {
  background-color: rgb(var(--light), 0.3);
}

.bg-light-20 {
  background-color: rgb(var(--light), 0.2);
}
